﻿@model EVVS_Building_Company_Server.Models.ContentText

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ContentText</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Language.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentName.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentName.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
